version: 2.1

orbs:
  heroku: circleci/heroku@0.0.10

workflows:
  heroku_deploy:
    jobs:
      - build
      - heroku/deploy-via-git: # Use the pre-configured job, deploy-via-git
          requires:
            - build
jobs:
  build:
    docker:
      - image: cimg/node:15.6.0
        # environment:
        #     CHROME_BIN: /usr/bin/google-chrome
    steps:
      - checkout
      - run: npm install
      - run: sudo npm install -g @angular/cli
      - run: node --version
      - run: npm --version
      - run: ng --version
      # - run: npm test